{% extends 'MyInventoryApp/base.html' %}
{% load static %}


{% block content %}
<div class="col">
    <div class="card translate-middle w-25 position-absolute top-50 start-50">
        <div class="card-header">
            <h5 class="card-title text-center">Type in Employee details</h5>
        </div>
        <div class="card-body text-center">
            <form method="POST">{% csrf_token %}
                <div class="row">
                        <div class="form-group" >
                            <label for="name">Name:</label> <br>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>

                        <div class="form-group">
                            <label for="id_number">ID Number:</label><br>
                            <input type="text" class="form-control" id="id_number" name="id_number"><br>
                        </div>

                        <div class="form-group">
                            <label for="rate">Rate:</label><br>
                            <input type="number" class="form-control" id="cost" name="rate" step="0.01" min="0"><br>
                        </div>
                        <div class="form-group">
                            <label for="allowance">Allowance (Optional):</label><br>
                            <input type="text" class="form-control" id="allowance" name="allowance"><br>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Add Employee</button>
                        <a href="{% url 'employees' %}"  class="btn btn-secondary">Back</a>
                    </div>
            </form>  
            
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">                        
             {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}